/* root targets the whole document */
:root {
  --background: #ffffff;
  --foreground: #171717;
}
/* checks if system is in darkmode and activates the root, ignores otherwise */
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
/* limits the width of the document to the viewport width to prevent horizontal scrolling */
html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}
/* sets a consistent base style for the body and all elements */
body {
  color: var(--foreground); /* applies the root variables in color and in background too */
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased; /* the apple way to make fonts look better */
  -moz-osx-font-smoothing: grayscale; /* the apple way to make fonts look better */
}
/* the '*' selects all elements on the page and its box applies its contents on them */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
/* styles for links to inherit color and remove underline - applies to every 'a' in the project's CSS*/
a {
  color: inherit;
  text-decoration: none;
}
/* changes the default color scheme of the browser to dark when in dark mode */
@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
